<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Informacion</title>
</head>
<body>
    <p> Informacion Empleados</p>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Edad</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="empleado : ${Empleados}">
                <td th:text="${empleado.nombre}"></td>
                <td th:text="${empleado.apellido}"></td>
                <td th:text="${empleado.email}"></td>
                <td th:text="${empleado.telefono}"></td>
                <td th:text="${empleado.edad}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>