<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Informacion</title>
</head>
<body>
    <p> Informacion </p>
    <strong>Nombre: </strong> <span th:text="${Gerencia.nombre}"></span>
    <strong>Apellido: </strong> <span th:text="${Gerencia.apellido}"></span>
    <strong>Email: </strong> <span th:text="${Gerencia.email}"></span>
    <strong>Telefono: </strong> <span th:text="${Gerencia.telefono}"></span>
    <strong>Edad: </strong> <span th:text="${Gerencia.edad}"></span>
</body>
</html>